.productList-container {
  flex: 0.8;
  background: #fff;
}
.top-section {
  padding: 0.5rem;
  display: flex;
  column-gap: 1rem;
  align-items: center;
}
.top-section > input[type="radio"] {
  cursor: pointer;

  outline: none;
  border: none;
}
.products-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  row-gap: 1rem;
}
